* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Dosis', sans-serif;
  height: 100%;
  background-color: beige;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.7)), url(../img/pexels-pixabay-45230.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* HEADER START */

.header {
  text-align: center;
}

.logo {
  margin: 50px 0 35px 0;
  max-width: 200px;
  /* filter: invert(); */
  animation: plane-enter 5s ease-out both, plane-hover 5s 5s linear infinite;
}

/* HEADER END */

/* MAIN START */
.main {
  color: white;
  text-align: center;
}

.main--heading {
  margin-bottom: 5px;
  text-shadow: 0px 0px 5px black;
}

.main--paragraph {
  text-shadow: 0px 0px 5px black;
}

.button {
  color: white;
  font-weight: bold;
  text-decoration: none;
  background-color: rgb(135, 111, 96);
  padding: 10px 20px;
  border-radius: 10000px;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
}

.button:hover {
  background-image: radial-gradient(circle at center, rgb(104, 85, 73) 1%, rgb(73, 60, 52) 1%);
  background-size: 10000% 10000%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transition: background-size ease-in-out 0.2s;
}

.button:hover:active {
  transition-duration: 0s;
  background-size: 100% 100%;
}

/* MAIN END */

/* ANIMATIONS START */

@keyframes plane-enter {

  0% {
    opacity: 0;
    transform: translate(-60vw, 0px);
  }

  50% {
    opacity: .75;
  }

  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes plane-hover {

  0%,
  100% {
    transform: translate(0px, 0px);
  }

  25% {
    transform: translate(4px, 4px);
  }

  50% {
    transform: translate(-2px, 8px);
  }

  75% {
    transform: translate(-4px, -4px);
  }
}

/* ANIMATIONS END */